/*
     ___      .______   .______   
    /   \     |   _  \  |   _  \  
   /  ^  \    |  |_)  | |  |_)  | 
  /  /_\  \   |   ___/  |   ___/  
 /  _____  \  |  |      |  |      
/__/     \__\ | _|      | _|      
                                  */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  background-color: #FAFAFA;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
}

img {
  max-width: 100%;
}

p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 0;
  margin: 0 15px 15px 15px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

h2:before {
  content: ' < '
}

h2:after {
  content: ' > '
}

h3 {
  font-size: 30px;
}

h3:before, h3:after {
  content: ' # '
}


h4 {
  font-size: 25px;
}

/*
 _______ .______          ___      .___  ___.  ___________    __    ____  ______   .______       __  ___ 
|   ____||   _  \        /   \     |   \/   | |   ____\   \  /  \  /   / /  __  \  |   _  \     |  |/  / 
|  |__   |  |_)  |      /  ^  \    |  \  /  | |  |__   \   \/    \/   / |  |  |  | |  |_)  |    |  '  /  
|   __|  |      /      /  /_\  \   |  |\/|  | |   __|   \            /  |  |  |  | |      /     |    <   
|  |     |  |\  \----./  _____  \  |  |  |  | |  |____   \    /\    /   |  `--'  | |  |\  \----.|  .  \  
|__|     | _| `._____/__/     \__\ |__|  |__| |_______|   \__/  \__/     \______/  | _| `._____||__|\__\ 
                                                                                                          */

.pad-xs {
  padding: 4px;
}

.pad-sm {
  padding: 8px;
}

.pad-md, .pad {
  padding: 16px;
}

.pad-lg {
  padding: 32px;
}

.pad-xl {
  padding: 64px;
}


.mart-xs {
  margin-top: 4px;
}

.mart-sm {
  margin-top: 8px;
}

.mart-md, .mart {
  margin-top: 16px;
}

.mart-lg {
  margin-top: 32px;
}

.mart-xl {
  margin-top: 64px;
}

.hint {
  font-size: 13px;
  opacity: 0.5;
  text-align: center;
}

.hint:hover {
  opacity: 1;
}